*.obj
x64/Debug/MeshGenerator.tlog/CL.write.1.tlog
x64/Debug/MeshGenerator.tlog/CL.read.1.tlog
x64/Debug/MeshGenerator.tlog/CL.command.1.tlog
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/main.obj
x64/Debug/MeshGenerator.ilk
x64/Debug/MeshGenerator.log
